<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Directory" value="Downloads"/>
    <add key="dataPath" value="data.xml"/>
    <add key="MethodURL" value="https://api.vk.com/method/"/>
    <add key="AppID" value="2696858"/>
    <add key="Scope" value="11"/>
    <add key="NodeCount" value="50"/>
  </appSettings>
</configuration>